<!DOCTYPE html>

<html lang="en">
    <head>
<style>
tr:nth-child(odd) {
  background-color: #D6EEEE;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>Music for yan's home</title>
	<center>
        <h1>Speakers</h1>
	</center>

    </head>
    <center> 
	<table>
		{% for dname in devices.keys() %}
		<tr>
			<th>
				<h2><a href="/voldown?devName={{ dname }}"><img src="static/img/down.png"width="60" height="60"></a></h2>
			{% if devices[dname][2]: %}
				<h2><a href="/pause?devName={{ dname }}"><img src="static/img/pause.png"width="60" height="60"></a></h2>
			{% endif %}
			</th>
			<th> 
				<h2>{{ dname + ': '+ devices[dname][1] }}</h2> 
			</th>
			<th>
				<h2><a href="/volup?devName={{ dname }}"><img src="static/img/up.png"width="60" height="60"></a></h2>
			{% if devices[dname][2]: %}
				<h2><a href="/play?devName={{ dname }}"><img src="static/img/play.png"width="60" height="60"></a></h2>
			{% endif %}
			</th>
		</tr>
    		{% endfor %}
	</table>
		<center>
		  <h3 id="trackinfo" ></h3>
		<script>
			function updateInfo() {
   				 $.get("/trackinfo", function(data, status){
      					document.getElementById("trackinfo").innerHTML=data;
				 })
			}
			var i = setInterval(function() { updateInfo(); }, 2000);

		</script>
		</center>
		<center><h2><a href="{{ musicHome }}">back to home</h2></center>
    </center>

</html>
