<!DOCTYPE html>

<html lang="en">
    <head>
<style>
tr:nth-child(odd) {
  background-color: #D6EEEE;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>Music for yan's home</title>
	<center>
        <h1>家庭音乐总站</h1>
	<table><tr>
			<th><h2><a href="/voldown"><img src="/static/img/down.png"width="60" height="60"></a></h2></th>
			<th><h2><a href="/pause"><img src="/static/img/blue-pause.png"width="60" height="60"></a></h2></th>
			<th><h2><a href="/play"><img src="/static/img/play.png"width="60" height="60"></a></h2></th>
			<th><h2><a href="/volup"><img src="/static/img/up.png"width="60" height="60"></a></h2></th>
	</tr>
	<tr>
		<th><a href="{{ buri + '?player='+(player if player else 'sonos') }}"><img src="/static/img/back.png"width="60" height="60"></a></th>
		<th><a href="/next"><img src="/static/img/next.png"width="60" height="60"></a></th>
		<th><a href="/deviceInfo"><img src="/static/img/speaker.jpg"width="60" height="60"></a></th>
		<th><a href="{{ musicHome + '?player='+(player if player else 'sonos') }}"><img src="/static/img/home.jpg"width="60" height="60"></a></th>
	</tr>
	</table>
	</center>

    </head>
	<center>
		<h1>{{request.path.lstrip('/') +" playing at " + (player if player else 'sonos')}}</h1>
		<h2>	<a href="{{ request.path }}?playfolder=true"> Play the whole folder </a> </h2>
	</center>
	{% if request.path == '/' or "歌手" in request.path %}
		<center>
		<table>
		{% for i in range(files|length)%}
		{%  if i%2 ==0 %}
			<tr>
		{% endif %}
	    	<th>
        	<a href="{{ (request.path + '/' if request.path != '/' else '') + files[i] +'?player='+(player if player else 'sonos')}}">
            	{{ files[i] }}
        	</a>
    		</th>
		{%  if i%2 ==1 %}
			</tr>
		{% endif %}
    		{% endfor %}
		</table>
		</center>
	{% else %}
		<ul>
		{% for i in range(files|length)%}
		{% if player != "local" %}
		<li><a href="{{ (request.path + '/' if request.path != '/' else '') + files[i] }}">
            	{{ (request.path + '/' if request.path != '/' else '') + files[i] }}
        		</a>
		</li>
		{% else: %}
		{% if ".mp3" in files[i] %}
		<h3>
            	{{ (request.path + '/' if request.path != '/' else '') + files[i] }}
		</h3>
		<audio controls>
		<source src="{{ streamurl+(request.path + '/' if request.path != '/' else '') + files[i] }}" type="audio/mpeg">
		</audio>
		{% else: %}
		<li><a href="{{ (request.path + '/' if request.path != '/' else '') + files[i] +'?player='+(player if player else 'sonos') }}">
				{{ (request.path + '/' if request.path != '/' else '') + files[i] }}
        		</a>
		{% endif %}
		{% endif %}
    		{% endfor %}
		</ul>
	{% endif %}
		{% if player != "local" %}
		<center>
		  <h3 id="trackinfo" ></h3>
		<script>
			function updateInfo() {
   				 $.get("/trackinfo", function(data, status){
      					document.getElementById("trackinfo").innerHTML=data;
				 })
			}
			var i = setInterval(function() { updateInfo(); }, 5000);

		</script>
		</center>
		{% endif %}

</table>
</html>
